name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4
      - name: Build container (no push)
        uses: docker/build-push-action@v6
        with:
          context: .
          push: false
          tags: ghcr.io/arszh/devops-portfolio-app:ci-test